mixin skillList
    ul
        li PHP
        li Laravel
        li MySQL
        li This Is #{themeName} Theme
        
mixin feature(featName)
    div(class="feats",style="color:red")= featName